%article.bodyText
  %h1 Thanks for contributing!
  %h2 What happens now?
  %p Your contribution has been sent off by email; I'll take a look at it, make any changes I think are necessary to a) make it work, b) make its style consistent and c) make it balanced, and then I'll add it to the stock of Adventures and Encounters, ready for deployment!