%article.bodyText
  %h1 Welcome to Exalted Mini Adventures!

  We're still under development at the moment, but you can help out by #{link_to 'contributing encounters or adventures', contribute_path}.
